body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}

.navbar {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 8%;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}

.navbar nav {
  display: flex;
  gap: 1.5rem;
}

.navbar nav a {
  position: relative;
  text-decoration: none;
  color: #1f2933;
  font-weight: 700;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.navbar nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #250202;
  transition: width 0.3s ease;
}

.navbar nav a:hover::after {
  width: 100%;
}

.navbar nav a:hover {
  color: #cf2340;
}

.menu-toggle {
  width: 1.9rem;
  height: 1.4rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.menu-toggle span {
  height: 3px;
  width: 100%;
  background: #1f2933;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.hero {
  margin-top: 5rem;
  min-height: calc(100vh - 5rem);
  background: linear-gradient(180deg, #f3f5f7 0%, #e9eff4 60%, #dde5ec 100%);
  padding: 0 3rem;
}

.hero-content {
  max-width: 75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.8rem;
  margin: 0 auto;
}

/* TEXT SIDE */
.hero-text {
  max-width: 35rem;
  color: #040414;
}

.hero-text h1 {
  /*font-family: "Oswald", sans-serif;*/
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 1.3rem 0;
}

.hero-text p {
  font-size: 1.1rem;
  font-weight: 600;
  color: #1f2933;
  margin-bottom: 2.2rem;
}

/* BUTTONS */
.hero-buttons {
  display: flex;
  gap: 1.3rem;
}

.btn-primary {
  min-width: 8rem;
  text-align: center;
  border: 2px solid #091d31;
  color: #1f2933;
  padding: 0.9rem 1.9rem;
  border-radius: 1.9rem;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #d6a06a;
  color: #2b1b12;
}

.btn-secondary {
  min-width: 8rem;
  text-align: center;
  border: 2px solid #03101d;
  color: #1f2933;
  padding: 0.9rem 1.9rem;
  border-radius: 1.9rem;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.btn-secondary:hover {
  background-color: #d6a06a;
  color: #2b1b12;
}
.hero-image {
  display: flex;
  justify-content: center;
}

/* IMAGE */
.hero-image img {
  width: 32.5rem;
  max-width: none; /* IMAGE বড় */
  height: 32.5rem;
}

/* SECTIONS */
.section {
  padding: 5rem 8%;
}

.light {
  background: #f9fafb;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

/* PROJECTS */
.projects {
  display: flex;
  gap: 1.9rem;
}

.project-card {
  background: white;
  border: 2px solid #06011a;
  border-radius: 1rem;
  overflow: hidden;
  flex: 1;
}

.project-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.project-card h3 {
  margin: 20px 20px 10px;
}

.project-card p {
  margin: 0 20px 20px;
  color: #4b5563;
}

.project-links {
  display: flex;
  gap: 15px;
  padding: 0 20px 25px;
}

.project-links a {
  text-decoration: none;
  padding: 8px 18px;
  border-radius: 20px;
  font-size: 0.9rem;
}

.project-links a:first-child {
  background: #e5533d;
  color: #fff;
}

.project-links a:last-child {
  border: 1px solid #cfd6dd;
  color: #1f2933;
}

/* SKILLS */
.skills {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.skills span {
  background: #fff;
  padding: 10px 20px;
  border-radius: 20px;
}

/* SERVICES */
.services {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.service-card {
  background: #fff;
  padding: 20px 30px;
  border-radius: 12px;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 20px;
  background: #111827;
  color: #fff;
}

/* RESPONSIVE */
@media (max-width: 48rem) {
  .menu-toggle {
    display: flex;
  }

  #navMenu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
    padding: 1.9rem 0;

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;

    transition: all 0.3s ease;
    z-index: 1000;
  }

  #navMenu.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  .navbar nav a {
    font-size: 1.1rem;
  }
  .hero {
    min-height: calc(100vh - 70px);
    padding: 3rem 1.3rem;
  }

  .hero-content {
    flex-direction: column;
    text-align: center;
  }
  .hero-text {
    margin-left: 0;
    max-width: 100%;
  }

  .hero-text h1 {
    font-size: 1.4rem; /* mobile friendly */
    line-height: 1.25;
    padding: 5rem;
  }

  .hero-text p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 0 auto 24px;
    padding: 5rem;
  }
  .hero-image img {
    width: 90%;
    height: auto;
  }
  .hero-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
  }

  .projects {
    flex-direction: column;
    gap: 1.6rem;
  }
  .project-card {
    width: 100%;
  }
  .project-card img {
    width: 100%;
    height: auto;
  }

  body.menu-open main {
    filter: blur(6px);
  }
}
